# Unidad 6: Python para el análisis de datos

Hasta este punto hemos repasado conceptos de lógica, cómo operar con los distintos tipos de datos en Python y además cómo trabajar sobre el paradigma orientado a objetos.

Como lo comentamos en la introducción el propósito de este curso es aprender a utilizar python con un enfoque hacia el tratamiento de datos. Esto no es mas que aplicar funciones sobre cierto conjuntos de datos a fin de poner obtener cierta información relevante.

En esta unidad vamos a explorar distintas maneras para trabajar con archivos, tipos de datos referidos a una etiqueta temporal y los gráficos asociados a ellos


#### Acceso a archivos

Hay varias maneras de leer un archivo CSV, dependiendo de la herramienta o librería que prefieras usar. Aquí vemos algunos de los métodos más comunes

In [66]:
path = 'datos/cambio_genero_provincia_genero_edad_mayo_2024.csv'

In [67]:
#usando la librería estandar csv

import csv
with open(path, newline='') as archivo:
    lector = csv.reader(archivo)
    for fila in lector:
        print(fila)

['provincia_id', 'provincia_nombre', 'genero', 'edad_actual_grandes_grupos', 'cantidad']
['6', 'Buenos Aires', 'F', '0 a 17', '91']
['6', 'Buenos Aires', 'F', '18 a 29', '928']
['6', 'Buenos Aires', 'F', '30 a 39', '816']
['6', 'Buenos Aires', 'F', '40 y mas', '1240']
['6', 'Buenos Aires', 'M', '0 a 17', '380']
['6', 'Buenos Aires', 'M', '18 a 29', '1955']
['6', 'Buenos Aires', 'M', '30 a 39', '573']
['6', 'Buenos Aires', 'M', '40 y mas', '224']
['6', 'Buenos Aires', 'X', '0 a 17', '50']
['6', 'Buenos Aires', 'X', '18 a 29', '423']
['6', 'Buenos Aires', 'X', '30 a 39', '174']
['6', 'Buenos Aires', 'X', '40 y mas', '95']
['10', 'Catamarca', 'F', '0 a 17', '1']
['10', 'Catamarca', 'F', '18 a 29', '39']
['10', 'Catamarca', 'F', '30 a 39', '41']
['10', 'Catamarca', 'F', '40 y mas', '34']
['10', 'Catamarca', 'M', '0 a 17', '7']
['10', 'Catamarca', 'M', '18 a 29', '33']
['10', 'Catamarca', 'M', '30 a 39', '8']
['10', 'Catamarca', 'M', '40 y mas', '2']
['10', 'Catamarca', 'X', '18 a 29', '4']
['10', 'Catamarca', 'X', '30 a 39', '7']
['22', 'Chaco', 'F', '18 a 29', '62']
['22', 'Chaco', 'F', '30 a 39', '53']
['22', 'Chaco', 'F', '40 y mas', '44']
['22', 'Chaco', 'M', '0 a 17', '5']
['22', 'Chaco', 'M', '18 a 29', '48']
['22', 'Chaco', 'M', '30 a 39', '20']
['22', 'Chaco', 'M', '40 y mas', '4']
['22', 'Chaco', 'X', '18 a 29', '7']
['22', 'Chaco', 'X', '30 a 39', '3']
['26', 'Chubut', 'F', '0 a 17', '5']
['26', 'Chubut', 'F', '18 a 29', '28']
['26', 'Chubut', 'F', '30 a 39', '29']
['26', 'Chubut', 'F', '40 y mas', '50']
['26', 'Chubut', 'M', '0 a 17', '18']
['26', 'Chubut', 'M', '18 a 29', '89']
['26', 'Chubut', 'M', '30 a 39', '32']
['26', 'Chubut', 'M', '40 y mas', '3']
['26', 'Chubut', 'X', '0 a 17', '6']
['26', 'Chubut', 'X', '18 a 29', '29']
['26', 'Chubut', 'X', '30 a 39', '13']
['26', 'Chubut', 'X', '40 y mas', '4']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '0 a 17', '20']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '18 a 29', '252']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '30 a 39', '355']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '40 y mas', '511']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '0 a 17', '82']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '18 a 29', '524']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '30 a 39', '213']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '40 y mas', '70']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '0 a 17', '17']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '18 a 29', '168']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '30 a 39', '85']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '40 y mas', '41']
['14', 'Córdoba', 'F', '0 a 17', '13']
['14', 'Córdoba', 'F', '18 a 29', '195']
['14', 'Córdoba', 'F', '30 a 39', '268']
['14', 'Córdoba', 'F', '40 y mas', '373']
['14', 'Córdoba', 'M', '0 a 17', '41']
['14', 'Córdoba', 'M', '18 a 29', '319']
['14', 'Córdoba', 'M', '30 a 39', '141']
['14', 'Córdoba', 'M', '40 y mas', '45']
['14', 'Córdoba', 'X', '0 a 17', '4']
['14', 'Córdoba', 'X', '18 a 29', '46']
['14', 'Córdoba', 'X', '30 a 39', '33']
['14', 'Córdoba', 'X', '40 y mas', '11']
['18', 'Corrientes', 'F', '0 a 17', '3']
['18', 'Corrientes', 'F', '18 a 29', '57']
['18', 'Corrientes', 'F', '30 a 39', '82']
['18', 'Corrientes', 'F', '40 y mas', '60']
['18', 'Corrientes', 'M', '0 a 17', '8']
['18', 'Corrientes', 'M', '18 a 29', '39']
['18', 'Corrientes', 'M', '30 a 39', '24']
['18', 'Corrientes', 'M', '40 y mas', '7']
['18', 'Corrientes', 'X', '0 a 17', '2']
['18', 'Corrientes', 'X', '18 a 29', '4']
['18', 'Corrientes', 'X', '30 a 39', '1']
['18', 'Corrientes', 'X', '40 y mas', '4']
['30', 'Entre Ríos', 'F', '0 a 17', '8']
['30', 'Entre Ríos', 'F', '18 a 29', '72']
['30', 'Entre Ríos', 'F', '30 a 39', '114']
['30', 'Entre Ríos', 'F', '40 y mas', '108']
['30', 'Entre Ríos', 'M', '0 a 17', '14']
['30', 'Entre Ríos', 'M', '18 a 29', '112']
['30', 'Entre Ríos', 'M', '30 a 39', '21']
['30', 'Entre Ríos', 'M', '40 y mas', '10']
['30', 'Entre Ríos', 'X', '0 a 17', '1']
['30', 'Entre Ríos', 'X', '18 a 29', '21']
['30', 'Entre Ríos', 'X', '30 a 39', '9']
['30', 'Entre Ríos', 'X', '40 y mas', '5']
['34', 'Formosa', 'F', '0 a 17', '1']
['34', 'Formosa', 'F', '18 a 29', '48']
['34', 'Formosa', 'F', '30 a 39', '40']
['34', 'Formosa', 'F', '40 y mas', '21']
['34', 'Formosa', 'M', '0 a 17', '3']
['34', 'Formosa', 'M', '18 a 29', '20']
['34', 'Formosa', 'M', '30 a 39', '6']
['34', 'Formosa', 'M', '40 y mas', '6']
['34', 'Formosa', 'X', '18 a 29', '3']
['34', 'Formosa', 'X', '40 y mas', '1']
['38', 'Jujuy', 'F', '0 a 17', '4']
['38', 'Jujuy', 'F', '18 a 29', '68']
['38', 'Jujuy', 'F', '30 a 39', '82']
['38', 'Jujuy', 'F', '40 y mas', '66']
['38', 'Jujuy', 'M', '0 a 17', '12']
['38', 'Jujuy', 'M', '18 a 29', '55']
['38', 'Jujuy', 'M', '30 a 39', '36']
['38', 'Jujuy', 'M', '40 y mas', '13']
['38', 'Jujuy', 'X', '0 a 17', '4']
['38', 'Jujuy', 'X', '18 a 29', '4']
['38', 'Jujuy', 'X', '30 a 39', '5']
['38', 'Jujuy', 'X', '40 y mas', '3']
['42', 'La Pampa', 'F', '0 a 17', '2']
['42', 'La Pampa', 'F', '18 a 29', '31']
['42', 'La Pampa', 'F', '30 a 39', '17']
['42', 'La Pampa', 'F', '40 y mas', '35']
['42', 'La Pampa', 'M', '0 a 17', '11']
['42', 'La Pampa', 'M', '18 a 29', '41']
['42', 'La Pampa', 'M', '30 a 39', '8']
['42', 'La Pampa', 'M', '40 y mas', '5']
['42', 'La Pampa', 'X', '0 a 17', '1']
['42', 'La Pampa', 'X', '18 a 29', '4']
['42', 'La Pampa', 'X', '30 a 39', '1']
['42', 'La Pampa', 'X', '40 y mas', '2']
['46', 'La Rioja', 'F', '0 a 17', '1']
['46', 'La Rioja', 'F', '18 a 29', '46']
['46', 'La Rioja', 'F', '30 a 39', '46']
['46', 'La Rioja', 'F', '40 y mas', '53']
['46', 'La Rioja', 'M', '0 a 17', '4']
['46', 'La Rioja', 'M', '18 a 29', '22']
['46', 'La Rioja', 'M', '30 a 39', '12']
['46', 'La Rioja', 'X', '18 a 29', '4']
['46', 'La Rioja', 'X', '30 a 39', '3']
['46', 'La Rioja', 'X', '40 y mas', '1']
['50', 'Mendoza', 'F', '0 a 17', '6']
['50', 'Mendoza', 'F', '18 a 29', '73']
['50', 'Mendoza', 'F', '30 a 39', '100']
['50', 'Mendoza', 'F', '40 y mas', '133']
['50', 'Mendoza', 'M', '0 a 17', '20']
['50', 'Mendoza', 'M', '18 a 29', '141']
['50', 'Mendoza', 'M', '30 a 39', '54']
['50', 'Mendoza', 'M', '40 y mas', '25']
['50', 'Mendoza', 'X', '0 a 17', '6']
['50', 'Mendoza', 'X', '18 a 29', '22']
['50', 'Mendoza', 'X', '30 a 39', '22']
['50', 'Mendoza', 'X', '40 y mas', '11']
['54', 'Misiones', 'F', '0 a 17', '1']
['54', 'Misiones', 'F', '18 a 29', '62']
['54', 'Misiones', 'F', '30 a 39', '29']
['54', 'Misiones', 'F', '40 y mas', '15']
['54', 'Misiones', 'M', '0 a 17', '11']
['54', 'Misiones', 'M', '18 a 29', '62']
['54', 'Misiones', 'M', '30 a 39', '17']
['54', 'Misiones', 'M', '40 y mas', '6']
['54', 'Misiones', 'X', '0 a 17', '1']
['54', 'Misiones', 'X', '18 a 29', '10']
['54', 'Misiones', 'X', '30 a 39', '8']
['54', 'Misiones', 'X', '40 y mas', '2']
['58', 'Neuquén', 'F', '0 a 17', '9']
['58', 'Neuquén', 'F', '18 a 29', '35']
['58', 'Neuquén', 'F', '30 a 39', '33']
['58', 'Neuquén', 'F', '40 y mas', '51']
['58', 'Neuquén', 'M', '0 a 17', '48']
['58', 'Neuquén', 'M', '18 a 29', '104']
['58', 'Neuquén', 'M', '30 a 39', '24']
['58', 'Neuquén', 'M', '40 y mas', '10']
['58', 'Neuquén', 'X', '0 a 17', '7']
['58', 'Neuquén', 'X', '18 a 29', '34']
['58', 'Neuquén', 'X', '30 a 39', '16']
['58', 'Neuquén', 'X', '40 y mas', '7']
['99', 'Otro Pais', 'F', '0 a 17', '1']
['99', 'Otro Pais', 'F', '18 a 29', '4']
['99', 'Otro Pais', 'F', '30 a 39', '32']
['99', 'Otro Pais', 'F', '40 y mas', '99']
['99', 'Otro Pais', 'M', '18 a 29', '12']
['99', 'Otro Pais', 'M', '30 a 39', '17']
['99', 'Otro Pais', 'M', '40 y mas', '10']
['99', 'Otro Pais', 'X', '18 a 29', '1']
['99', 'Otro Pais', 'X', '30 a 39', '4']
['99', 'Otro Pais', 'X', '40 y mas', '1']
['62', 'Río Negro', 'F', '0 a 17', '11']
['62', 'Río Negro', 'F', '18 a 29', '31']
['62', 'Río Negro', 'F', '30 a 39', '39']
['62', 'Río Negro', 'F', '40 y mas', '35']
['62', 'Río Negro', 'M', '0 a 17', '28']
['62', 'Río Negro', 'M', '18 a 29', '103']
['62', 'Río Negro', 'M', '30 a 39', '28']
['62', 'Río Negro', 'M', '40 y mas', '8']
['62', 'Río Negro', 'X', '0 a 17', '6']
['62', 'Río Negro', 'X', '18 a 29', '16']
['62', 'Río Negro', 'X', '30 a 39', '6']
['62', 'Río Negro', 'X', '40 y mas', '7']
['66', 'Salta', 'F', '0 a 17', '1']
['66', 'Salta', 'F', '18 a 29', '115']
['66', 'Salta', 'F', '30 a 39', '181']
['66', 'Salta', 'F', '40 y mas', '182']
['66', 'Salta', 'M', '0 a 17', '11']
['66', 'Salta', 'M', '18 a 29', '101']
['66', 'Salta', 'M', '30 a 39', '52']
['66', 'Salta', 'M', '40 y mas', '24']
['66', 'Salta', 'X', '0 a 17', '1']
['66', 'Salta', 'X', '18 a 29', '7']
['66', 'Salta', 'X', '30 a 39', '12']
['66', 'Salta', 'X', '40 y mas', '8']
['70', 'San Juan', 'F', '0 a 17', '2']
['70', 'San Juan', 'F', '18 a 29', '60']
['70', 'San Juan', 'F', '30 a 39', '64']
['70', 'San Juan', 'F', '40 y mas', '58']
['70', 'San Juan', 'M', '0 a 17', '2']
['70', 'San Juan', 'M', '18 a 29', '60']
['70', 'San Juan', 'M', '30 a 39', '23']
['70', 'San Juan', 'M', '40 y mas', '4']
['70', 'San Juan', 'X', '18 a 29', '9']
['70', 'San Juan', 'X', '30 a 39', '4']
['70', 'San Juan', 'X', '40 y mas', '1']
['74', 'San Luis', 'F', '0 a 17', '5']
['74', 'San Luis', 'F', '18 a 29', '37']
['74', 'San Luis', 'F', '30 a 39', '54']
['74', 'San Luis', 'F', '40 y mas', '60']
['74', 'San Luis', 'M', '0 a 17', '13']
['74', 'San Luis', 'M', '18 a 29', '53']
['74', 'San Luis', 'M', '30 a 39', '15']
['74', 'San Luis', 'M', '40 y mas', '3']
['74', 'San Luis', 'X', '0 a 17', '3']
['74', 'San Luis', 'X', '18 a 29', '4']
['74', 'San Luis', 'X', '30 a 39', '5']
['74', 'San Luis', 'X', '40 y mas', '2']
['78', 'Santa Cruz', 'F', '0 a 17', '8']
['78', 'Santa Cruz', 'F', '18 a 29', '26']
['78', 'Santa Cruz', 'F', '30 a 39', '29']
['78', 'Santa Cruz', 'F', '40 y mas', '19']
['78', 'Santa Cruz', 'M', '0 a 17', '13']
['78', 'Santa Cruz', 'M', '18 a 29', '47']
['78', 'Santa Cruz', 'M', '30 a 39', '10']
['78', 'Santa Cruz', 'M', '40 y mas', '11']
['78', 'Santa Cruz', 'X', '0 a 17', '1']
['78', 'Santa Cruz', 'X', '18 a 29', '8']
['78', 'Santa Cruz', 'X', '30 a 39', '2']
['82', 'Santa Fe', 'F', '0 a 17', '10']
['82', 'Santa Fe', 'F', '18 a 29', '262']
['82', 'Santa Fe', 'F', '30 a 39', '253']
['82', 'Santa Fe', 'F', '40 y mas', '346']
['82', 'Santa Fe', 'M', '0 a 17', '60']
['82', 'Santa Fe', 'M', '18 a 29', '339']
['82', 'Santa Fe', 'M', '30 a 39', '115']
['82', 'Santa Fe', 'M', '40 y mas', '40']
['82', 'Santa Fe', 'X', '0 a 17', '5']
['82', 'Santa Fe', 'X', '18 a 29', '43']
['82', 'Santa Fe', 'X', '30 a 39', '17']
['82', 'Santa Fe', 'X', '40 y mas', '13']
['86', 'Santiago del Estero', 'F', '18 a 29', '46']
['86', 'Santiago del Estero', 'F', '30 a 39', '70']
['86', 'Santiago del Estero', 'F', '40 y mas', '52']
['86', 'Santiago del Estero', 'M', '18 a 29', '38']
['86', 'Santiago del Estero', 'M', '30 a 39', '20']
['86', 'Santiago del Estero', 'M', '40 y mas', '11']
['86', 'Santiago del Estero', 'X', '0 a 17', '1']
['86', 'Santiago del Estero', 'X', '18 a 29', '5']
['86', 'Santiago del Estero', 'X', '30 a 39', '1']
['86', 'Santiago del Estero', 'X', '40 y mas', '2']
['94', 'Tierra del Fuego', 'F', '0 a 17', '2']
['94', 'Tierra del Fuego', 'F', '18 a 29', '10']
['94', 'Tierra del Fuego', 'F', '30 a 39', '11']
['94', 'Tierra del Fuego', 'F', '40 y mas', '9']
['94', 'Tierra del Fuego', 'M', '0 a 17', '11']
['94', 'Tierra del Fuego', 'M', '18 a 29', '45']
['94', 'Tierra del Fuego', 'M', '30 a 39', '8']
['94', 'Tierra del Fuego', 'M', '40 y mas', '3']
['94', 'Tierra del Fuego', 'X', '0 a 17', '2']
['94', 'Tierra del Fuego', 'X', '18 a 29', '10']
['94', 'Tierra del Fuego', 'X', '30 a 39', '5']
['90', 'Tucumán', 'F', '0 a 17', '4']
['90', 'Tucumán', 'F', '18 a 29', '119']
['90', 'Tucumán', 'F', '30 a 39', '159']
['90', 'Tucumán', 'F', '40 y mas', '164']
['90', 'Tucumán', 'M', '0 a 17', '16']
['90', 'Tucumán', 'M', '18 a 29', '112']
['90', 'Tucumán', 'M', '30 a 39', '49']
['90', 'Tucumán', 'M', '40 y mas', '19']
['90', 'Tucumán', 'X', '0 a 17', '2']
['90', 'Tucumán', 'X', '18 a 29', '14']
['90', 'Tucumán', 'X', '30 a 39', '10']
['90', 'Tucumán', 'X', '40 y mas', '5']

In [68]:
#mediante procesamiento manual
with open(path, 'r') as archivo:
    for linea in archivo:
        datos = linea.strip().split(',')
        print(datos)

['provincia_id', 'provincia_nombre', 'genero', 'edad_actual_grandes_grupos', 'cantidad']
['6', 'Buenos Aires', 'F', '0 a 17', '91']
['6', 'Buenos Aires', 'F', '18 a 29', '928']
['6', 'Buenos Aires', 'F', '30 a 39', '816']
['6', 'Buenos Aires', 'F', '40 y mas', '1240']
['6', 'Buenos Aires', 'M', '0 a 17', '380']
['6', 'Buenos Aires', 'M', '18 a 29', '1955']
['6', 'Buenos Aires', 'M', '30 a 39', '573']
['6', 'Buenos Aires', 'M', '40 y mas', '224']
['6', 'Buenos Aires', 'X', '0 a 17', '50']
['6', 'Buenos Aires', 'X', '18 a 29', '423']
['6', 'Buenos Aires', 'X', '30 a 39', '174']
['6', 'Buenos Aires', 'X', '40 y mas', '95']
['10', 'Catamarca', 'F', '0 a 17', '1']
['10', 'Catamarca', 'F', '18 a 29', '39']
['10', 'Catamarca', 'F', '30 a 39', '41']
['10', 'Catamarca', 'F', '40 y mas', '34']
['10', 'Catamarca', 'M', '0 a 17', '7']
['10', 'Catamarca', 'M', '18 a 29', '33']
['10', 'Catamarca', 'M', '30 a 39', '8']
['10', 'Catamarca', 'M', '40 y mas', '2']
['10', 'Catamarca', 'X', '18 a 29', '4']
['10', 'Catamarca', 'X', '30 a 39', '7']
['22', 'Chaco', 'F', '18 a 29', '62']
['22', 'Chaco', 'F', '30 a 39', '53']
['22', 'Chaco', 'F', '40 y mas', '44']
['22', 'Chaco', 'M', '0 a 17', '5']
['22', 'Chaco', 'M', '18 a 29', '48']
['22', 'Chaco', 'M', '30 a 39', '20']
['22', 'Chaco', 'M', '40 y mas', '4']
['22', 'Chaco', 'X', '18 a 29', '7']
['22', 'Chaco', 'X', '30 a 39', '3']
['26', 'Chubut', 'F', '0 a 17', '5']
['26', 'Chubut', 'F', '18 a 29', '28']
['26', 'Chubut', 'F', '30 a 39', '29']
['26', 'Chubut', 'F', '40 y mas', '50']
['26', 'Chubut', 'M', '0 a 17', '18']
['26', 'Chubut', 'M', '18 a 29', '89']
['26', 'Chubut', 'M', '30 a 39', '32']
['26', 'Chubut', 'M', '40 y mas', '3']
['26', 'Chubut', 'X', '0 a 17', '6']
['26', 'Chubut', 'X', '18 a 29', '29']
['26', 'Chubut', 'X', '30 a 39', '13']
['26', 'Chubut', 'X', '40 y mas', '4']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '0 a 17', '20']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '18 a 29', '252']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '30 a 39', '355']
['99', 'Ciudad Autónoma de Buenos Aires', 'F', '40 y mas', '511']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '0 a 17', '82']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '18 a 29', '524']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '30 a 39', '213']
['99', 'Ciudad Autónoma de Buenos Aires', 'M', '40 y mas', '70']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '0 a 17', '17']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '18 a 29', '168']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '30 a 39', '85']
['99', 'Ciudad Autónoma de Buenos Aires', 'X', '40 y mas', '41']
['14', 'Córdoba', 'F', '0 a 17', '13']
['14', 'Córdoba', 'F', '18 a 29', '195']
['14', 'Córdoba', 'F', '30 a 39', '268']
['14', 'Córdoba', 'F', '40 y mas', '373']
['14', 'Córdoba', 'M', '0 a 17', '41']
['14', 'Córdoba', 'M', '18 a 29', '319']
['14', 'Córdoba', 'M', '30 a 39', '141']
['14', 'Córdoba', 'M', '40 y mas', '45']
['14', 'Córdoba', 'X', '0 a 17', '4']
['14', 'Córdoba', 'X', '18 a 29', '46']
['14', 'Córdoba', 'X', '30 a 39', '33']
['14', 'Córdoba', 'X', '40 y mas', '11']
['18', 'Corrientes', 'F', '0 a 17', '3']
['18', 'Corrientes', 'F', '18 a 29', '57']
['18', 'Corrientes', 'F', '30 a 39', '82']
['18', 'Corrientes', 'F', '40 y mas', '60']
['18', 'Corrientes', 'M', '0 a 17', '8']
['18', 'Corrientes', 'M', '18 a 29', '39']
['18', 'Corrientes', 'M', '30 a 39', '24']
['18', 'Corrientes', 'M', '40 y mas', '7']
['18', 'Corrientes', 'X', '0 a 17', '2']
['18', 'Corrientes', 'X', '18 a 29', '4']
['18', 'Corrientes', 'X', '30 a 39', '1']
['18', 'Corrientes', 'X', '40 y mas', '4']
['30', 'Entre Ríos', 'F', '0 a 17', '8']
['30', 'Entre Ríos', 'F', '18 a 29', '72']
['30', 'Entre Ríos', 'F', '30 a 39', '114']
['30', 'Entre Ríos', 'F', '40 y mas', '108']
['30', 'Entre Ríos', 'M', '0 a 17', '14']
['30', 'Entre Ríos', 'M', '18 a 29', '112']
['30', 'Entre Ríos', 'M', '30 a 39', '21']
['30', 'Entre Ríos', 'M', '40 y mas', '10']
['30', 'Entre Ríos', 'X', '0 a 17', '1']
['30', 'Entre Ríos', 'X', '18 a 29', '21']
['30', 'Entre Ríos', 'X', '30 a 39', '9']
['30', 'Entre Ríos', 'X', '40 y mas', '5']
['34', 'Formosa', 'F', '0 a 17', '1']
['34', 'Formosa', 'F', '18 a 29', '48']
['34', 'Formosa', 'F', '30 a 39', '40']
['34', 'Formosa', 'F', '40 y mas', '21']
['34', 'Formosa', 'M', '0 a 17', '3']
['34', 'Formosa', 'M', '18 a 29', '20']
['34', 'Formosa', 'M', '30 a 39', '6']
['34', 'Formosa', 'M', '40 y mas', '6']
['34', 'Formosa', 'X', '18 a 29', '3']
['34', 'Formosa', 'X', '40 y mas', '1']
['38', 'Jujuy', 'F', '0 a 17', '4']
['38', 'Jujuy', 'F', '18 a 29', '68']
['38', 'Jujuy', 'F', '30 a 39', '82']
['38', 'Jujuy', 'F', '40 y mas', '66']
['38', 'Jujuy', 'M', '0 a 17', '12']
['38', 'Jujuy', 'M', '18 a 29', '55']
['38', 'Jujuy', 'M', '30 a 39', '36']
['38', 'Jujuy', 'M', '40 y mas', '13']
['38', 'Jujuy', 'X', '0 a 17', '4']
['38', 'Jujuy', 'X', '18 a 29', '4']
['38', 'Jujuy', 'X', '30 a 39', '5']
['38', 'Jujuy', 'X', '40 y mas', '3']
['42', 'La Pampa', 'F', '0 a 17', '2']
['42', 'La Pampa', 'F', '18 a 29', '31']
['42', 'La Pampa', 'F', '30 a 39', '17']
['42', 'La Pampa', 'F', '40 y mas', '35']
['42', 'La Pampa', 'M', '0 a 17', '11']
['42', 'La Pampa', 'M', '18 a 29', '41']
['42', 'La Pampa', 'M', '30 a 39', '8']
['42', 'La Pampa', 'M', '40 y mas', '5']
['42', 'La Pampa', 'X', '0 a 17', '1']
['42', 'La Pampa', 'X', '18 a 29', '4']
['42', 'La Pampa', 'X', '30 a 39', '1']
['42', 'La Pampa', 'X', '40 y mas', '2']
['46', 'La Rioja', 'F', '0 a 17', '1']
['46', 'La Rioja', 'F', '18 a 29', '46']
['46', 'La Rioja', 'F', '30 a 39', '46']
['46', 'La Rioja', 'F', '40 y mas', '53']
['46', 'La Rioja', 'M', '0 a 17', '4']
['46', 'La Rioja', 'M', '18 a 29', '22']
['46', 'La Rioja', 'M', '30 a 39', '12']
['46', 'La Rioja', 'X', '18 a 29', '4']
['46', 'La Rioja', 'X', '30 a 39', '3']
['46', 'La Rioja', 'X', '40 y mas', '1']
['50', 'Mendoza', 'F', '0 a 17', '6']
['50', 'Mendoza', 'F', '18 a 29', '73']
['50', 'Mendoza', 'F', '30 a 39', '100']
['50', 'Mendoza', 'F', '40 y mas', '133']
['50', 'Mendoza', 'M', '0 a 17', '20']
['50', 'Mendoza', 'M', '18 a 29', '141']
['50', 'Mendoza', 'M', '30 a 39', '54']
['50', 'Mendoza', 'M', '40 y mas', '25']
['50', 'Mendoza', 'X', '0 a 17', '6']
['50', 'Mendoza', 'X', '18 a 29', '22']
['50', 'Mendoza', 'X', '30 a 39', '22']
['50', 'Mendoza', 'X', '40 y mas', '11']
['54', 'Misiones', 'F', '0 a 17', '1']
['54', 'Misiones', 'F', '18 a 29', '62']
['54', 'Misiones', 'F', '30 a 39', '29']
['54', 'Misiones', 'F', '40 y mas', '15']
['54', 'Misiones', 'M', '0 a 17', '11']
['54', 'Misiones', 'M', '18 a 29', '62']
['54', 'Misiones', 'M', '30 a 39', '17']
['54', 'Misiones', 'M', '40 y mas', '6']
['54', 'Misiones', 'X', '0 a 17', '1']
['54', 'Misiones', 'X', '18 a 29', '10']
['54', 'Misiones', 'X', '30 a 39', '8']
['54', 'Misiones', 'X', '40 y mas', '2']
['58', 'Neuquén', 'F', '0 a 17', '9']
['58', 'Neuquén', 'F', '18 a 29', '35']
['58', 'Neuquén', 'F', '30 a 39', '33']
['58', 'Neuquén', 'F', '40 y mas', '51']
['58', 'Neuquén', 'M', '0 a 17', '48']
['58', 'Neuquén', 'M', '18 a 29', '104']
['58', 'Neuquén', 'M', '30 a 39', '24']
['58', 'Neuquén', 'M', '40 y mas', '10']
['58', 'Neuquén', 'X', '0 a 17', '7']
['58', 'Neuquén', 'X', '18 a 29', '34']
['58', 'Neuquén', 'X', '30 a 39', '16']
['58', 'Neuquén', 'X', '40 y mas', '7']
['99', 'Otro Pais', 'F', '0 a 17', '1']
['99', 'Otro Pais', 'F', '18 a 29', '4']
['99', 'Otro Pais', 'F', '30 a 39', '32']
['99', 'Otro Pais', 'F', '40 y mas', '99']
['99', 'Otro Pais', 'M', '18 a 29', '12']
['99', 'Otro Pais', 'M', '30 a 39', '17']
['99', 'Otro Pais', 'M', '40 y mas', '10']
['99', 'Otro Pais', 'X', '18 a 29', '1']
['99', 'Otro Pais', 'X', '30 a 39', '4']
['99', 'Otro Pais', 'X', '40 y mas', '1']
['62', 'Río Negro', 'F', '0 a 17', '11']
['62', 'Río Negro', 'F', '18 a 29', '31']
['62', 'Río Negro', 'F', '30 a 39', '39']
['62', 'Río Negro', 'F', '40 y mas', '35']
['62', 'Río Negro', 'M', '0 a 17', '28']
['62', 'Río Negro', 'M', '18 a 29', '103']
['62', 'Río Negro', 'M', '30 a 39', '28']
['62', 'Río Negro', 'M', '40 y mas', '8']
['62', 'Río Negro', 'X', '0 a 17', '6']
['62', 'Río Negro', 'X', '18 a 29', '16']
['62', 'Río Negro', 'X', '30 a 39', '6']
['62', 'Río Negro', 'X', '40 y mas', '7']
['66', 'Salta', 'F', '0 a 17', '1']
['66', 'Salta', 'F', '18 a 29', '115']
['66', 'Salta', 'F', '30 a 39', '181']
['66', 'Salta', 'F', '40 y mas', '182']
['66', 'Salta', 'M', '0 a 17', '11']
['66', 'Salta', 'M', '18 a 29', '101']
['66', 'Salta', 'M', '30 a 39', '52']
['66', 'Salta', 'M', '40 y mas', '24']
['66', 'Salta', 'X', '0 a 17', '1']
['66', 'Salta', 'X', '18 a 29', '7']
['66', 'Salta', 'X', '30 a 39', '12']
['66', 'Salta', 'X', '40 y mas', '8']
['70', 'San Juan', 'F', '0 a 17', '2']
['70', 'San Juan', 'F', '18 a 29', '60']
['70', 'San Juan', 'F', '30 a 39', '64']
['70', 'San Juan', 'F', '40 y mas', '58']
['70', 'San Juan', 'M', '0 a 17', '2']
['70', 'San Juan', 'M', '18 a 29', '60']
['70', 'San Juan', 'M', '30 a 39', '23']
['70', 'San Juan', 'M', '40 y mas', '4']
['70', 'San Juan', 'X', '18 a 29', '9']
['70', 'San Juan', 'X', '30 a 39', '4']
['70', 'San Juan', 'X', '40 y mas', '1']
['74', 'San Luis', 'F', '0 a 17', '5']
['74', 'San Luis', 'F', '18 a 29', '37']
['74', 'San Luis', 'F', '30 a 39', '54']
['74', 'San Luis', 'F', '40 y mas', '60']
['74', 'San Luis', 'M', '0 a 17', '13']
['74', 'San Luis', 'M', '18 a 29', '53']
['74', 'San Luis', 'M', '30 a 39', '15']
['74', 'San Luis', 'M', '40 y mas', '3']
['74', 'San Luis', 'X', '0 a 17', '3']
['74', 'San Luis', 'X', '18 a 29', '4']
['74', 'San Luis', 'X', '30 a 39', '5']
['74', 'San Luis', 'X', '40 y mas', '2']
['78', 'Santa Cruz', 'F', '0 a 17', '8']
['78', 'Santa Cruz', 'F', '18 a 29', '26']
['78', 'Santa Cruz', 'F', '30 a 39', '29']
['78', 'Santa Cruz', 'F', '40 y mas', '19']
['78', 'Santa Cruz', 'M', '0 a 17', '13']
['78', 'Santa Cruz', 'M', '18 a 29', '47']
['78', 'Santa Cruz', 'M', '30 a 39', '10']
['78', 'Santa Cruz', 'M', '40 y mas', '11']
['78', 'Santa Cruz', 'X', '0 a 17', '1']
['78', 'Santa Cruz', 'X', '18 a 29', '8']
['78', 'Santa Cruz', 'X', '30 a 39', '2']
['82', 'Santa Fe', 'F', '0 a 17', '10']
['82', 'Santa Fe', 'F', '18 a 29', '262']
['82', 'Santa Fe', 'F', '30 a 39', '253']
['82', 'Santa Fe', 'F', '40 y mas', '346']
['82', 'Santa Fe', 'M', '0 a 17', '60']
['82', 'Santa Fe', 'M', '18 a 29', '339']
['82', 'Santa Fe', 'M', '30 a 39', '115']
['82', 'Santa Fe', 'M', '40 y mas', '40']
['82', 'Santa Fe', 'X', '0 a 17', '5']
['82', 'Santa Fe', 'X', '18 a 29', '43']
['82', 'Santa Fe', 'X', '30 a 39', '17']
['82', 'Santa Fe', 'X', '40 y mas', '13']
['86', 'Santiago del Estero', 'F', '18 a 29', '46']
['86', 'Santiago del Estero', 'F', '30 a 39', '70']
['86', 'Santiago del Estero', 'F', '40 y mas', '52']
['86', 'Santiago del Estero', 'M', '18 a 29', '38']
['86', 'Santiago del Estero', 'M', '30 a 39', '20']
['86', 'Santiago del Estero', 'M', '40 y mas', '11']
['86', 'Santiago del Estero', 'X', '0 a 17', '1']
['86', 'Santiago del Estero', 'X', '18 a 29', '5']
['86', 'Santiago del Estero', 'X', '30 a 39', '1']
['86', 'Santiago del Estero', 'X', '40 y mas', '2']
['94', 'Tierra del Fuego', 'F', '0 a 17', '2']
['94', 'Tierra del Fuego', 'F', '18 a 29', '10']
['94', 'Tierra del Fuego', 'F', '30 a 39', '11']
['94', 'Tierra del Fuego', 'F', '40 y mas', '9']
['94', 'Tierra del Fuego', 'M', '0 a 17', '11']
['94', 'Tierra del Fuego', 'M', '18 a 29', '45']
['94', 'Tierra del Fuego', 'M', '30 a 39', '8']
['94', 'Tierra del Fuego', 'M', '40 y mas', '3']
['94', 'Tierra del Fuego', 'X', '0 a 17', '2']
['94', 'Tierra del Fuego', 'X', '18 a 29', '10']
['94', 'Tierra del Fuego', 'X', '30 a 39', '5']
['90', 'Tucumán', 'F', '0 a 17', '4']
['90', 'Tucumán', 'F', '18 a 29', '119']
['90', 'Tucumán', 'F', '30 a 39', '159']
['90', 'Tucumán', 'F', '40 y mas', '164']
['90', 'Tucumán', 'M', '0 a 17', '16']
['90', 'Tucumán', 'M', '18 a 29', '112']
['90', 'Tucumán', 'M', '30 a 39', '49']
['90', 'Tucumán', 'M', '40 y mas', '19']
['90', 'Tucumán', 'X', '0 a 17', '2']
['90', 'Tucumán', 'X', '18 a 29', '14']
['90', 'Tucumán', 'X', '30 a 39', '10']
['90', 'Tucumán', 'X', '40 y mas', '5']

In [69]:
#usando numpy
import numpy as np

datos = np.loadtxt(path, delimiter=',', skiprows=1)
print(datos)

##OJO numpy puede utilizarse solo si los datos son puramente numéricos

ValueError: could not convert string 'Buenos Aires' to float64 at row 0, column 2.

Finalmente la librería pandas, es una de las libería más utilizadas para el procesamiento de datos heterogéneos. Y de las menos querida por los puristas de python

In [278]:
import pandas as pd

df = pd.read_csv(path)
print(df.head())

   provincia_id provincia_nombre genero edad_actual_grandes_grupos  cantidad
0             6     Buenos Aires      F                     0 a 17        91
1             6     Buenos Aires      F                    18 a 29       928
2             6     Buenos Aires      F                    30 a 39       816
3             6     Buenos Aires      F                   40 y mas      1240
4             6     Buenos Aires      M                     0 a 17       380

### 🐼 ¿Qué es pandas?

pandas es una biblioteca de Python que facilita el trabajo con datos tabulares (como los que ves en hojas de Excel o bases de datos). Permite leer, escribir, filtrar, transformar, agrupar y analizar datos de forma eficiente.

 pip install pandas

#### Exploración básica

In [279]:
# Ver las primeras 5 filas
df.head()

   provincia_id provincia_nombre genero edad_actual_grandes_grupos  cantidad
0             6     Buenos Aires      F                     0 a 17        91
1             6     Buenos Aires      F                    18 a 29       928
2             6     Buenos Aires      F                    30 a 39       816
3             6     Buenos Aires      F                   40 y mas      1240
4             6     Buenos Aires      M                     0 a 17       380

In [280]:
# Ver las últimas 5 filas
df.tail()

     provincia_id provincia_nombre genero edad_actual_grandes_grupos  cantidad
279            90          Tucumán      M                   40 y mas        19
280            90          Tucumán      X                     0 a 17         2
281            90          Tucumán      X                    18 a 29        14
282            90          Tucumán      X                    30 a 39        10
283            90          Tucumán      X                   40 y mas         5

In [281]:
# Ver los nombres de las columnas
df.columns

Index(['provincia_id', 'provincia_nombre', 'genero',
       'edad_actual_grandes_grupos', 'cantidad'],
      dtype='object')

In [282]:
# Ver información general (nombres, tipos, nulos)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   provincia_id                284 non-null    int64
 1   provincia_nombre            284 non-null    object
 2   genero                      284 non-null    object
 3   edad_actual_grandes_grupos  284 non-null    object
 4   cantidad                    284 non-null    int64
dtypes: int64(2), object(3)
memory usage: 11.2+ KB

In [283]:
# Estadísticas para columnas numéricas
df.describe()

       provincia_id     cantidad
count    284.000000   284.000000
mean      53.936620    66.207746
std       28.565025   172.738581
min        6.000000     1.000000
25%       30.000000     5.000000
50%       54.000000    17.000000
75%       78.000000    53.000000
max       99.000000  1955.000000

###  🧼 Filtrado de datos

In [284]:
df_femenino = df[df['genero'] == 'F']

df_femenino.describe()

       provincia_id     cantidad
count     98.000000    98.000000
mean      53.918367    99.285714
std       28.788483   186.772644
min        6.000000     1.000000
25%       30.000000    13.500000
50%       54.000000    45.000000
75%       78.000000    82.000000
max       99.000000  1240.000000

In [285]:
df_mayores_40 = df[df['edad_actual_grandes_grupos'] == '40 y mas']
df_mayores_40.describe()

       provincia_id     cantidad
count     70.000000    70.000000
mean      54.200000    65.814286
std       28.647584   168.469435
min        6.000000     1.000000
25%       30.000000     5.000000
50%       54.000000    12.000000
75%       78.000000    51.750000
max       99.000000  1240.000000

In [286]:
#¿Cuántas personas hay por provincia?
df.groupby('provincia_nombre')['cantidad'].sum()

provincia_nombre
Buenos Aires                       6949
Catamarca                           176
Chaco                               246
Chubut                              306
Ciudad Autónoma de Buenos Aires    2338
Corrientes                          291
Córdoba                            1489
Entre Ríos                          495
Formosa                             149
Jujuy                               352
La Pampa                            158
La Rioja                            192
Mendoza                             613
Misiones                            224
Neuquén                             378
Otro Pais                           181
Río Negro                           318
Salta                               695
San Juan                            287
San Luis                            254
Santa Cruz                          174
Santa Fe                           1503
Santiago del Estero                 246
Tierra del Fuego                    116
Tucumán                             673
Name: cantidad, dtype: int64

In [287]:
#¿Cuántas personas por género?
df.groupby('genero')['cantidad'].sum()

genero
F    9730
M    7381
X    1692
Name: cantidad, dtype: int64

In [288]:
#¿Cantidad por grupo etario?
df.groupby('edad_actual_grandes_grupos')['cantidad'].sum()

edad_actual_grandes_grupos
0 a 17      1147
18 a 29     8080
30 a 39     4969
40 y mas    4607
Name: cantidad, dtype: int64

## Indexación

#### Recortes por fila

🟢 Seleccionar una fila por número (posición)

In [289]:
df.iloc[0]  # primera fila

provincia_id                             6
provincia_nombre              Buenos Aires
genero                                   F
edad_actual_grandes_grupos          0 a 17
cantidad                                91
Name: 0, dtype: object

In [290]:
df.iloc[2]  # tercera fila

provincia_id                             6
provincia_nombre              Buenos Aires
genero                                   F
edad_actual_grandes_grupos         30 a 39
cantidad                               816
Name: 2, dtype: object

🔵 Seleccionar un rango de filas (posición)

In [291]:
df.iloc[1:4]  # desde la fila 1 hasta la 3 (no incluye la 4)

   provincia_id provincia_nombre genero edad_actual_grandes_grupos  cantidad
1             6     Buenos Aires      F                    18 a 29       928
2             6     Buenos Aires      F                    30 a 39       816
3             6     Buenos Aires      F                   40 y mas      1240

In [292]:
df[df['genero'] == 'F']  # todas las filas donde género es F

,provincia_id,provincia_nombre,genero,edad_actual_grandes_grupos,cantidad
0,6,Buenos Aires,F,0 a 17,91
1,6,Buenos Aires,F,18 a 29,928
2,6,Buenos Aires,F,30 a 39,816
3,6,Buenos Aires,F,40 y mas,1240
12,10,Catamarca,F,0 a 17,1
...,...,...,...,...,...
264,94,Tierra del Fuego,F,40 y mas,9
272,90,Tucumán,F,0 a 17,4
273,90,Tucumán,F,18 a 29,119
274,90,Tucumán,F,30 a 39,159
275,90,Tucumán,F,40 y mas,164

In [293]:
df[df['cantidad'] > 500]  # cantidad mayor a 500

,provincia_id,provincia_nombre,genero,edad_actual_grandes_grupos,cantidad
1,6,Buenos Aires,F,18 a 29,928
2,6,Buenos Aires,F,30 a 39,816
3,6,Buenos Aires,F,40 y mas,1240
5,6,Buenos Aires,M,18 a 29,1955
6,6,Buenos Aires,M,30 a 39,573
46,99,Ciudad Autónoma de Buenos Aires,F,40 y mas,511
48,99,Ciudad Autónoma de Buenos Aires,M,18 a 29,524

### 📌 2. Recortes por columna

In [294]:
df['cantidad']

0        91
1       928
2       816
3      1240
4       380
       ...
279      19
280       2
281      14
282      10
283       5
Name: cantidad, Length: 284, dtype: int64

In [295]:
df.describe()

       provincia_id     cantidad
count    284.000000   284.000000
mean      53.936620    66.207746
std       28.565025   172.738581
min        6.000000     1.000000
25%       30.000000     5.000000
50%       54.000000    17.000000
75%       78.000000    53.000000
max       99.000000  1955.000000

In [296]:
df[['genero', 'cantidad']]

    genero  cantidad
0        F        91
1        F       928
2        F       816
3        F      1240
4        M       380
..     ...       ...
279      M        19
280      X         2
281      X        14
282      X        10
283      X         5

[284 rows x 2 columns]

## 📌 3. Recortes combinados (filas + columnas)

In [297]:
df.loc[0, 'cantidad']  # usando etiquetas

91

In [298]:
df.iloc[0, 4]          # usando posición

91

In [299]:
# ????
df.loc[0:2, ['genero', 'cantidad']]

  genero  cantidad
0      F        91
1      F       928
2      F       816

In [300]:
df.columns

Index(['provincia_id', 'provincia_nombre', 'genero',
       'edad_actual_grandes_grupos', 'cantidad'],
      dtype='object')

In [301]:

df.drop(columns='provincia_id', inplace=True)

In [302]:
df.columns

Index(['provincia_nombre', 'genero', 'edad_actual_grandes_grupos', 'cantidad'], dtype='object')

In [303]:
df.drop(index=3, inplace=True)  # elimina la fila con índice 3

In [304]:
# Filtrar solo mujeres y mostrar edad + cantidad
df[df['genero'] == 'F'][['edad_actual_grandes_grupos', 'cantidad']]

    edad_actual_grandes_grupos  cantidad
0                       0 a 17        91
1                      18 a 29       928
2                      30 a 39       816
12                      0 a 17         1
13                     18 a 29        39
..                         ...       ...
264                   40 y mas         9
272                     0 a 17         4
273                    18 a 29       119
274                    30 a 39       159
275                   40 y mas       164

[97 rows x 2 columns]